@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    color: white;
    background: rgb(37, 37, 164);
    background: linear-gradient(90deg, rgba(37, 37, 164, 1) 0%, rgba(147, 0, 255, 1) 100%);
    overflow: hidden;
}

.card {
    background-color: #272d40;
    border-radius: 20px;
    width: 320px;
    height: 400px;
    margin: 150px auto;
    position: relative;
}

.ti-heart,
.ti-shopping-cart {
    font-size: 20px;
    position: absolute;
    cursor: pointer;
    z-index: 2;
}

.ti-heart {
    top: 20px;
    left: 20px;
}

.ti-shopping-cart {
    top: 20px;
    right: 20px;
}

.img-card {
    width: 80%;
    transition: 0.5s;
}

img {
    margin-left: 20px;
    margin-top: 40px;
    width: 100%;
    height: 100%;
    scale: 0.95;
    object-fit: cover;
    object-position: center;
}

.card:hover .img-card {
    transform: translateX(-10px) translateY(-90px) rotate(-20deg);
}

h2 {
    color: #4daf54;
    display: grid;
    justify-content: center;
    transition: 0.5s;
}

.prize-product {
    color: #ffffff;
    font-size: 28px;
    font-weight: 600;
    display: grid;
    justify-content: center;
    transition: 0.5s;
}

.card:hover h2 {
    transform: translate(-40px, -72px);
}

.card:hover .prize-product {
    transform: translate(-110px, -72px);
}

.size-product h3,
.color-product h3 {
    font-size: 20px;
    font-weight: 450;
    display: inline-block;
    margin: 10px 0;
}

.size-product h3,
.color-product h3,
.action-product {
    margin-left: 20px;
}

.size-product span {
    font-style: italic;
    background-color: #dadada;
    padding: 2px 10px;
    margin: 0 5px;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

.color-product span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.color-product .green {
    background-color: green;
}

.color-product .red {
    background-color: red;
}

.color-product .black {
    background-color: black;
}

.action-product button {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #4daf54;
    color: white;
    font-size: 15px;
    font-weight: 550;
    border: none;
    cursor: pointer;
    transition: 0.25s;
}

.card .size-product,
.card .color-product,
.card .action-product {
    opacity: 0;
    visibility: hidden;
    transition-delay: 0.1s;
    transition: 0.5s;
}

.card:hover .size-product,
.card:hover .color-product,
.card:hover .action-product {
    opacity: 1;
    visibility: visible;
}

.card .size-product {
    margin-top: 100px;
}

.card:hover .size-product {
    margin-top: -60px;
}